@import "./variables.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: $main-bg;
    color: $main-color;
}
.innerpage
{
    display: flex;
}
.menu{
    width: 250px;
    padding: 4px 20px;
    border-right:2px solid $soft-bg ;

}